* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

:root {
    /* --temp-bg-color-sidebar: lightpink; 
    --temp-bg-color-header: mistyrose;
    --temp-bg-color-main: mintcream; */
    --bg-color-sidebar: #EF6367;
    --bg-color-main: #FFF5F4;
    --bg-color-header: white;
    --main-font-color: #2F2C23;
    --border-color: #F6BFBC;
    --placeholder-color: #BFA5A4;

    --smallest-font-size: 0.875rem; 
}

/* open-sans-regular - latin */
@font-face {
    font-display: optional; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/open-sans-v35-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

  /* open-sans-800 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/open-sans-v35-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* pt-sans-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/pt-sans-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


h1, h2, h3, h4, li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.75rem;
}

h3, 
li {
    font-size: 1.25rem; 
}

h4 {
    font-size: 1rem; 
}

body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: var(--main-font-color);
}

.container {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid; 
    grid-template-columns: 1fr 4fr; 
}

.container > div {
    padding: 1.5rem;
}

.sidebar {
    grid-row: 1 / 3; 
    background-color: var(--bg-color-sidebar, lightcoral);
    display: grid;
    gap: 2rem; 
    align-content:start;
    color: var(--bg-color-header);
}

.sidebar svg {
    fill: var(--bg-color-header);   
}


/* redundant styling

   .sidebar > div {
    display: grid; 
    grid-template-rows: auto 1fr;
} */

/* redundant styling

   .sidebar .credit {
    align-self: end; 
} */

.dashboard, 
.menu li {
    display: grid;
    grid-template-columns: 2rem auto;
    gap: 0.5rem;
    align-items: center; 
}

.dashboard svg {
    width: 2.5rem; 
    height: auto;
}

.menu li {
    margin-bottom: 1rem; 
}

.menu svg {
    justify-self: center;
    width: 1.25rem;
    height: auto;
}

li {
    list-style-type: none;
}

.header {
    grid-row: 1 / 2; 
    background-color: var(--bg-color-header);
    display: grid; 
    grid-template-columns: 2fr 1fr; 
    gap: 0.75rem; 
    border-bottom: 8px double var(--border-color);
}

.search-bar, 
.user-info {
    padding-left: 2rem;
}

.search-bar {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem; 
    align-items: center;
}

.search-bar img {
    width: 1.25rem; 
    height: auto; 
}

input[type="search"] {
    appearance: none; 
    border: 2px solid var(--border-color, peachpuff);
    border-radius: 15px;
    width: 80%;
    height: 1.75rem; 
}

.user-alert, 
.action-buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
 
.action-buttons button {
    border: none; 
    border-radius: 25px;
    padding: 0.5rem; 
    width: 5rem; 
    background-color: var(--bg-color-sidebar, lightcoral);
    color: var(--bg-color-header);
}

.user-info, 
.trending-users {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 1rem; 
    justify-content: start;
}

.placeholder, 
.trending-users .placeholder-small {
    grid-row: span 2; 
    align-self: center;
}

.user-info p, 
.trending-users p:first-of-type  {
    align-self: end; 
}

.user-info h2, 
.trending-users p:last-of-type {
    align-self: start; 
}

.user-info p {
    font-size: var(--smallest-font-size);
}

.placeholder, 
.placeholder-small {
    border: 1px solid var(--placeholder-color, gainsboro);
    border-radius: 50%; 
}

.placeholder img, 
.placeholder-small img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.placeholder {
    height: 4.5rem;
    width: 4.5rem;  
}

.placeholder-small {
    height: 3rem; 
    width: 3rem; 
}

.main {
    grid-row: 2 / 3; 
    background-color: var(--bg-color-main, mistyrose);
    display: grid;
    grid-template-columns: 5fr 2fr; 
    gap: 1rem;
    /* grid-auto-rows: auto;  */
}

.main h3 {
    padding: 0.5rem 0;
}

.projects {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: auto 1fr; 
    grid-auto-rows: 1fr; 
    gap: 1.5rem; 
}

.projects h3 {
    grid-column: 1 / -1;
    margin-bottom: -1rem; 
}

.cards, 
.small-cards-wrapper {
    background-color: var(--bg-color-header);
    padding: 1.5rem; 
    overflow: hidden;
    border: 5px solid var(--border-color, peachpuff);
    border-radius: 10px; 
}

.cards {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, auto) 1fr;
    align-content: space-between;
}

.cards h4, 
.cards p {
    grid-column: 1 / -1;
    
}

.icon-wrapper {
    grid-column: 2 / -1; 
    justify-self: end;
    align-self: end;
    display: grid; 
    grid-template-columns: repeat(3, auto);
    gap: 1.5rem; 
}

.action-icon-buttons {
    background-color: transparent;
    border: none;
}

.sub-information {
    display: grid; 
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem; 
    
}

.sub-information p {
    font-size: var(--smallest-font-size);
}

.announcements, 
.trending {
    display: grid; 
    grid-template-rows: auto 1fr; 
    gap: 0.5rem;
}


.small-cards-wrapper {
    display: grid;
    min-width: 9.25rem;
    gap: 1.5rem; 
}

.small-card:not(:last-of-type) {
    padding-bottom: 1.5rem; 
    border-bottom: 1px solid var(--border-color, peachpuff);
}

.credit {
    grid-column: 1 / -1; 
    text-align: center;
}



